@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.body-text {
  font-family: var(--font-manrope), system-ui, sans-serif;
}

.heading {
  font-family: var(--font-jost), system-ui, sans-serif;
}



/* Intro loader to Dashboard */

.loader {
  width: 10em;
  height: 3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.line {
  width: 1em;
  height: 1em;
  position: relative;
  background-color: #000000; /* Black bars */
  outline: 3px solid #ffffff; /* Thick white outline */
  border-radius: 1em;
  animation-name: a;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.l1 {
  animation-delay: 0.4s;
}

.l2 {
  animation-delay: 0.8s;
}

.l3 {
  animation-delay: 1.2s;
}

.l4 {
  animation-delay: 1.6s;
}

.l5 {
  animation-delay: 2s;
}

@keyframes a {
  0% {
    height: 1em;
  }
  50% {
    height: 3em;
    transform: translateY(-30%);
  }
  100% {
    height: 1em;
  }
}